@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);

/*Allow width to include padding and borders*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial,helvetica;
}

/*Profile Styling*/
#profile_text, #profile_picture{
	display: table; 
	margin-right: auto; 
	margin-left: auto;
}

#profile_text p{
	margin: 0;
}

#profile{
	position: absolute;
	top: 20%;
	width: 100%;

	/*Code for profile to fade in on load of webpage*/
 	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
            animation: fadein 2s;
}

/*Code for profile to fade in on load of webpage*/
@keyframes fadein{
    from { opacity: 0; filter: alpha(opacity=0); }
    to   { opacity: 1; filter: alpha(opacity=100); }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein{
    from { opacity: 0; filter: alpha(opacity=0); }
    to   { opacity: 1; filter: alpha(opacity=100); }
}

/*Menu Styling*/
nav{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	z-index: 1; 
	position: fixed;
	width: 100%;
}

#menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 0; 
	padding: 0px;
	width: 80%;
	margin-right: auto; 
	margin-left: auto;
}

#menu li{
	margin: 0; 
	display: inline-block;
	background: #606060;
	width: 20%;
	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

#menu li:hover{
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.menu_links{
	display: block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4em;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*Bio Styling*/
#bio p{
	font-size: 1.4em; 
	color: #333;
}

#bio h1{
	margin-top: 0;
}

#bio{
	position: absolute;
	top: 20%;
	width: 100%;
}

#bio_container{
	width: 65%;
	display: table;
	margin-right: auto;
	margin-left: auto;
}

/*Font for bio title and profile text*/
#profile_text, #bio h1{
	font-weight: 400;
	font-size: 3em;
	text-align: center; 
	color: #333;
}

/*Set the position for each slide and section*/
.section, .slide{
	position: relative;
}

/*Projects Styling*/
.project_container{
	position: absolute;
	top: 20%;
	width: 100%;
}

.project{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	top: 20%;
	width: 80%;
	margin-right: auto; 
	margin-left: auto;
	border-style: solid;
	border-color: #606060;
	border-width: 2px; 
}

.project_picture{
	width: 75%;
	border-right: solid; 
	border-width: 2px; 
	border-color: #606060;
}

.project_picture img{
	display: table;
	width: 100%;
}

.project_description{
	width: 25%;
	margin-left: 8px; 
	margin-right: 8px; 

}

.project_description h1{
	text-align: center; 
	font-weight: 400;
	font-size:2em; 
	color: #333;
}

.project_description p{
	font-size: 1em; 
	color: #333;
}

.code_links{
	font-size: 1em; 
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline; 
	color: #333;
	display: block;
	width: 100%;

}

/*Fancybox and resume styling*/
#resume_container{
	position: absolute;
	top: 20%;
	width: 100%;
}

#resume{
	margin-right: auto; 
	margin-left: auto; 
	width: 25%;
}

.fancybox{
	display: inline-block;
	width: 100%;
}

.fancybox img{
	width: 100%; 
	border-style: solid; 
	border-color: #606060; 
}

#image_text{
	margin-top: 0; 
	margin-bottom: 16px; 
	text-align: center; 
	font-size: 2em; 
	color: #333;
}

/*Contact info styling*/
#contact_container{
	position: absolute;
	top: 20%;
	width: 100%;
}

#contact_info{
	width: 80%;
	margin-right: auto; 
	margin-left: auto;
}

#contact_info p{
	margin-top: 0;
	text-align: center; 
	font-size: 2em; 
	color: #333;
}

/*Change default style on arrows for horizontal scrolling*/
.fp-next.fp-controlArrow{
	border-left-color: #606060;
}

.fp-prev.fp-controlArrow{
	border-right-color: #606060;
}

/*Code for small screen size*/
@media screen and (max-width: 1055px){
	#profile_text{
		font-size: 2.143em;
	}

	#bio p{
		font-size: 1em; 
	}

	#bio h1{
		font-size: 2.143em;
	}

	.project_description h1{
		font-size: 1.4em; 
	}

	.project_description p{
		font-size: 1em; 
	}

	#image_text{
		font-size: 1.4em; 
	}

	#contact_info p{
		font-size: 1.4em
	}
}


@media screen and (max-width: 900px){
	.menu_links{
		font-size: 1.3em;
	}
}

@media screen and (max-width: 817px){
	.project_description h1{
		font-size:1.2em; 
	}

	.project_description p{
		font-size: 0.9em; 
	}

	.code_links{
		font-size: 0.9em; 
	}

	#image_text{
		font-size: 1.2em; 
	}

	#contact_info p{
		font-size: 1.2em
	}	
}

@media screen and (max-width: 743px){
	.menu_links{
		font-size: 1em;
	}

	#bio_container{
		width: 90%;
	}
}

@media screen and (max-width: 712px){
	/*Switch to a vertical ordering for the project image and 
	description as the screen width decreases*/
	.project{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 72%;
	}

	.project_picture{
		width: 100%;
		border-bottom: solid;
		border-right: none;
		border-color: #606060;
	}

	.project_description{
		width: 100%;
		padding: 5px; 
		margin: 0;
	}

	/*Increase resume width to fill the smaller screen*/
	#resume{
		width: 35%;
	}
}

/*Change to mobile menu*/
@media screen and (max-width: 550px){
	.menu_links{
		font-size: 0.6em;
		font-weight: 600; 
		padding: 8px;
	}

	#menu{
		width: 100%;
	}
}

@media screen and (max-width: 537px){
	#profile_text{
		font-size: 1.82155em;
	}

	#bio p{
		font-size: 0.8em; 
	}

	#bio h1{
		font-size: 1.82155em;
	}

	/*Move the contents for each slide slighly higher*/
	#bio, #profile, .project_container, #resume_container, #contact_container{
		top: 15%;
	}

	/*Make horizontal scrolling arrows smaller*/
	.fp-next.fp-controlArrow{
		border-width: 25.7px 0 25.7px 22.7px;
	}

	.fp-prev.fp-controlArrow{
		border-width: 25.7px 22.7px 25.7px 0;
	}
}

/*Reduce font size for menu*/
@media screen and (max-width: 320px){
	.menu_links{
		font-size: 0.55em;
	}
}

/*Query for device height*/
@media screen and (max-width: 712px) and (max-height: 402px){
	.project{
		-webkit-box-orient: horizontal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		width: 80%;
		border-style: none;
	}

	.project_picture{
		width: 70%;
		border-bottom: none;
	}

	.project_picture img{
		border-style: solid; 
		border-width: 2px; 
		border-color: #606060;
	}

	.project_description{
		width: 30%;
		margin-left: 8px; 
		border-style: solid;
		border-color: #606060;
		border-width: 2px;
	}
	
	.project_description h1{
		font-size:1.1em; 
	}

	.project_description p{
		font-size: 0.7em; 
		color: #333;
	}

	.code_links{
		font-size: 0.7em; 
		text-decoration: underline; 
		color: #333;
	}

	#bio p{
		font-size: 0.7em; 
	}

	#bio h1{
		font-size: 1.3em;
	}

	#bio{
		top: 25%;
	}

	#profile_text{
		font-size: 1.3em;
	}
	
	#profile_picture img{
  		width: 70%;
  		display: block;
  		margin-right: auto; 
  		margin-left: auto; 
  	}

  	#profile{
  		top: 25%;
  	}

  	#image_text{
		font-size: 1.1em; 
	}

	#resume{
		margin-right: auto; 
		margin-left: auto; 
		width: 15%;
	}

	#contact_info p{
		font-size: 1.1em
	}

	#contact_container{
		top: 25%;
	}

	/*Make horizontal scrolling arrows smaller*/
	.fp-next.fp-controlArrow{
		border-width: 25.7px 0 25.7px 22.7px;
	}

	.fp-prev.fp-controlArrow{
		border-width: 25.7px 22.7px 25.7px 0;
	}
}